#logo {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

#selectors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: auto;
    padding-top: 50px;
  }